<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}
            {% endblock %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    </head>
    <body>
        {% block body %}
            <header>
                <nav>
                    <a href="{{ path("marquepage_index") }}">Marque pages</a>
                    <a href="{{ path("livre_index") }}">Livres</a>
                    <a href="{{ path("auteur_index") }}">Auteurs</a>
                    <a href="{{ path("lecaillou_index") }}">Le Caillou</a>
                    <a href="{{ path("lecaillou_faune") }}">Faune</a>
                    <a href="{{ path("lecaillou_flore") }}">Flore</a>
                </nav>
            </header>
            <section>{% block content %}{% endblock %}</section>
            <footer>Baptiste :)</footer>
        {% endblock %}
    </body>
</html>
